"*":
  "atom-beautify":
    general:
      _analyticsUserId: "83a69478-b925-4910-96d2-bcb8b9a848ab"
    js:
      beautify_on_save: true
    nginx:
      beautify_on_save: true
    php:
      beautify_on_save: true
    twig:
      beautify_on_save: true
  core:
    disabledPackages: [
      "language-gfm"
      "whitespace"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    showIndentGuide: true
  "exception-reporting":
    userId: "93c23d1d-0264-4e41-bb9f-eb245586b2fb"
  "todo-show":
    ignoreThesePaths: [
      "node_modules"
      "vendor"
      "bower_components"
      "*.pdf"
      "Composer"
    ]
    statusBarIndicator: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
