.DS_Store
.gitignore
*.swp
plugged

symlink/flexget/received/
symlink/flexget/db-config.sqlite
symlink/flexget/flexget.log

symlink/m2/*
symlink/*
!symlink/_install.sh

apps/*
!apps/_install.sh

note.txt
