[user]
	name = Eivind Lindbråten
	email = eivindml@icloud.com

[init]
  defaultBranch = main

[pull]
  rebase = false

[core]
  excludesfile = /Users/eivindml/.gitignore
  ignorecase = false

[alias]
  add-commit = !git add -A && git commit
  ac = !git add -A && git commit -m
	conflicts = diff --name-only --diff-filter=U

[diff]
    tool = Kaleidoscope

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = Kaleidoscope

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

