"*":
  "atom-beautify":
    css:
      align_assignments: true
      convert_quotes: "single"
      force_indentation: true
    general:
      _analyticsUserId: "cd38cf6e-6fc4-4914-9d3b-1e8fcdd3949a"
    jade:
      beautify_on_save: true
      indent_size: 2
    js:
      beautify_on_save: true
    latex:
      always_look_for_split_brackets: true
      beautify_on_save: true
      indent_preamble: true
      indent_with_tabs: false
      remove_trailing_whitespace: true
    php:
      beautify_on_save: true
    sass:
      beautify_on_save: true
  build:
    overrideThemeColors: false
  core:
    disabledPackages: [
      "terminal-plus"
      "jade-beautify"
      "swift-debugger"
      "language-gfm"
      "markdown-preview"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "SF Mono"
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "976749f0-a009-cf5a-3767-53e1f41246e1"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "07067126-740f-4dcf-83d2-3818bb0b0c72"
  "html-to-css":
    "bem-group": true
    "bem-separator": "--"
  irc:
    channels: "#atom"
    host: "chat.freenode.net"
    nickname: "eivindml"
  "jade-beautify":
    FILL_TAB: false
  linter: {}
  "markdown-writer":
    relativeImagePath: true
  "pdf-view":
    paneToUseInSynctex: "right"
  pigments:
    markerType: "dot"
  tasks:
    baseMarker: "-"
    cancelledMarker: "-"
    completeMarker: "-"
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "atom/packages/"
    ]
    sortBy: "Path"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1486639844
  welcome:
    showOnStartup: false
".text.todo":
  editor:
    tabLength: 4
